body{
    background-color: rgb(223, 200, 172);
    margin: 0;
    padding: 0%;
    z-index: 0;
    overflow-x:hidden;
    cursor: default;
}

#background{

    background-image: url("https://i.ibb.co/6ZrDxpj/bg.png");
     background-repeat: no-repeat;
   background-position: center;
   background-size:100%;
   height: 100vh;
   z-index: -1;
}

#crosspoint{
   
width: 100vw;
height: 10vh;
position: absolute;
top: 100vh;
}

.middle{
     transform: translate(-50%, -50%);  
}


.header{
    position: absolute;
    top: 30vh;
    left: 50vw;
   
    
}

.header h1{

    font-style: normal;
}
.header h2{
    font-style: oblique;
}

.nav{
     top: 0vh; 
      list-style-type: none;
}
.nav li{
  padding: 2vh;
}
/*changing nav */
    /*nav left */
#Navigation{
  
    position: absolute;
    left: 0vw;
    height: 100vh;
    width: 10vw;
    background-color: blanchedalmond; 
    
}
#Navigation li{
    display: block;
  color: rgb(61, 51, 41);
  text-size-adjust: 1vh;

}

/*nav left */
/*nav top */

#Navigation2 {
    z-index: 1;
    position: fixed;    
     height: 60px;
     width: 100vw;
     background-color: #4a3934; 
     visibility: hidden;
   
}
#Navigation2 li{
    display: inline;
    color: rgb(226, 194, 161);
    text-size-adjust: 1vh;
   
 
}
#Navigation2 ul{
    padding-left: 11vw;
   
}
#Navigation2 li:hover{
    background-color:rgb(175, 110, 67);
}
/*nav top */

/*changing nav */
.aboutMe{
position: absolute;
top: 110vh;
height: 100vh;
width: 99vw;
text-align: left;

}
.aboutMe h2{
text-align: center;
}
.aboutMe h3{
     font-size: 2vw;
    color: bisque;
    background-color:rgb(175, 110, 67,0.7);
     border-style: hidden;
     border-bottom-right-radius: 1em;
     border-top-right-radius: 1em;
    padding-left: 1vw;
    text-align: right;
     padding: 2vh;
    }
#title_sum{
    width: 15vw; 
    
}
#title_skill{
    width: 10vw;  
}
#title_social{
    width:fit-content;  
}
.summary{
    position: absolute;
    top: 50vh;
    left: 50vw;
    border-radius: 10px;
    padding: 0.25em;
    width: 70vw;
    text-align: center;
    background-color: rgba(255, 228, 196, 0.363);

}
#sumEX{
    position: absolute;
    top: 60vh;
    background-color:rgba(255, 228, 196, 0.0);
}
#sumExtra{
    display:none; 
}

.text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#moreButton{
    background-color: non;
    
    border: none;
    color: black;
 background-color: blanchedalmond;
border-radius: 4px;
    text-align: center;
    display: inline-block;
    font-size: 1vw;
}

#moreButton:hover{
    cursor: pointer;
}

.Social{ 
    top: 200vh;
    height: 45vh;

    }

a{
    text-decoration: none;
    color: inherit;
}
#LinkedIn{
    width: 5vw;
    position: relative;
    top: -200px;
    left: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto ;
    color: rgba(0, 0, 0, 0.815);
    width: 50vw;
   position: relative;
   left: 400px;
    
  }
  .grid-item {   
    font-size: 20px;
    text-align: center;
  }
  form{
    position:relative;
    left: 20vw;
    
    width: 500px;
  }

  .inp{
  
    background-color: rgba(0, 0, 0, 0.192);
  border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-right: none;
    border-top: none;
    border-left: none;
    border-bottom-color:antiquewhite;

    text-indent: 20px;
    padding: 2px;
    margin-bottom: 5px;
    height: 50px;
    width: 500px;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    
}

::placeholder{
    color: white;
}

input:focus {
   outline-style: none;
  }

  .sub{
color: white;
background-color: rgba(0, 0, 0, 0.507);
border: solid;
border-width: 3px;
border-color: antiquewhite(223, 207, 207);
width: 100px;
padding: 10px;
position: relative;
left: 40%;


  }
  .sub:hover{
    cursor: pointer;
  }

  footer{
    position: absolute;
   top: 225vh;
    
  }
