body{
   
    background-image: url("../images/bg.png");
    background-color: rgb(223, 200, 172);
    background-repeat: no-repeat;
    background-size: 100vw; 
    margin: 0;
    padding: 0%;
    z-index: 0;
    overflow-x:hidden;
    
}

#crosspoint{
   
width: 100vw;
height: 10vh;
position: absolute;
top: 100vh;
}



.header{
    position: absolute;
    top: 30vh;
    left: 50vw;
    transform: translate(-50%, -50%);  
    
}

.header h1{

    font-style: normal;
}
.header h2{
    font-style: oblique;
}

.work{
    position: absolute;
    top: 45vh;
    left: 50vw;
    transform: translate(-50%, -50%);  
    padding: 0.25em;
    border-style: solid;
    border-radius: 1em;
    border-color: rgb(0, 0, 0);
    border-left: 0em;
    border-right: 0em;
}

.work:hover{
    border-color: rgb(247, 229, 171);
}

/*changing nav */
    /*nav left */
#Navigation{
  
    position: absolute;
   top: 0vh;
    left: 0vw;
    list-style-type: none;
    height: 100vh;
    width: 10vw;
    background-color: blanchedalmond; 
    background-repeat: no-repeat;
}
#Navigation li{
    
    display: block;
  color: rgb(61, 51, 41);
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 2vh;
  text-size-adjust: 1vh;
}


#Navigation li:hover{
background-color:rosybrown;
}
/*nav left */

/*nav top */
#Navigation2 {
    z-index: 1;
    position: fixed;
    top: 0vh;
     list-style-type: none;
     height: 7vh;
     width: 100vw;
     background-color: #4a3934; 
     background-repeat: no-repeat;
     visibility: hidden;
   
}
#Navigation2 li{
    display: inline;
    color: rgb(226, 194, 161);
    padding: 2vh;
    
    text-size-adjust: 1vh;
 
}


#Navigation2 li:hover{
    background-color:rgb(175, 110, 67);
}

/*nav top */

/*changing nav */
    
.aboutMe{
position: absolute;
top: 130vh;

height: 100vh;
width: 99vw;
text-align: left;
}

.aboutMe h2{
text-align: center;
}

.aboutMe h3{
     font-size: 2vw;
    color: bisque;

    top: 10vh;
    left: 0vw;
    
    background-color:rgb(175, 110, 67,0.7);
     border-style: hidden;
     border-bottom-right-radius: 1em;
     border-top-right-radius: 1em;
    padding-left: 1vw;
    text-align: right;
     padding: 2vh;
    }
    #title_sum{
    width: 15vw;  
}
#title_skill{
    width: 10vw;  
}
#title_social{
    width: 5vw;  
}

.sum{
    margin-left: 2vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}

#sumExtra{
    display:none;
    
}

#moreButton{
    
    border: none;
    color: black;
 background-color: blanchedalmond;

   
    text-align: center;
  
    display: inline-block;
    font-size: 1vw;
    
    
    
}

.Social{
    
    top: 200vh;
    height: 100vh;
    
    padding: 0;
    }

a{
    text-decoration: none;
    color: inherit;
}
#LinkedIn{
    width: 5vw;
}

